<section class="mt-20">
  <div class="mainContent flex justify-between items-center gap-5">
    <div class="max-w-xl">
      <h2>
        <h2
          class="font-inter font-bold leading-[56px] text-[56px] text-secondaryText"
        >
          Work together, wherever you work
        </h2>
        <p
          class="mt-4 mb-10 font-helvetica font-normal leading-6 text-[18px] text-secondaryText opacity-70"
        >
          Miro is your team's visual platform to connect, collaborate, and
          create — together.
        </p>
        <a
          href=""
          class="text-lg leading-6 font-inter font-normal text-blue flex items-center"
        >
          <span class="border-b border-blue pb-[1px]">Learn More</span>
          <i class="bx bx-right-arrow-alt bx-sm"></i
        ></a>
      </h2>
    </div>
    <div class="">
      <img src="../../../assets/images/hybridwork.png.png" alt="" />
    </div>
  </div>
</section>
