<section class="mt-12 lg:mt-0">
  <div class="container flex lg:flex-row flex-col justify-between items-center lg:gap-5"
    [ngClass]="{ 'lg:flex-row-reverse': index % 2 !== 0 }">
    <div class="lg:w-2/5 w-full">
      <h2>
        <h2 class="font-inter font-bold lg:leading-[56px] lg:text-[56px] text-3xl leading-8 text-secondaryText">
          {{ item.featureTitle }}
        </h2>
        <p
          class="mt-4 lg:mb-10 mb-2 font-helvetica font-normal lg:leading-6 lg:text-[18px] text-base leading-5 text-secondaryText opacity-70">
          {{ item.featureDescription }}
        </p>
        <a href=""
          class="text-lg leading-6 font-inter font-normal text-blue flex items-center hover:text-sky-600 transition-all duration-300">
          <span class="border-b hover:border-blue pb-[1px] capitalize transition-all duration-300">{{
            item.linkText
            }}</span>
          <i class="bx bx-right-arrow-alt bx-sm"></i></a>
      </h2>
    </div>
    <div class="lg:w-3/5 w-full">
      <img class="w-full transition-all duration-900" src="../../../assets/images/{{ item.featureImg }}" alt="" />

    </div>
  </div>
</section>