<div class="flex justify-between items-start gap-5">
  <div class="w-1/4">
    <h2
      class="my-10 font-helvetica font-normal leading-6 text-lg text-secondaryText capitalize"
    >
      {{ item.title }}
    </h2>
    <p
      class="mt-4 mb-10 font-helvetica font-normal leading-6 text-lg text-secondaryText opacity-60"
    >
      {{ item.description }}
    </p>
    <a
      class="text-lg leading-6 font-inter font-normal text-blue flex items-center"
    >
      <span class="border-b border-blue pb-[1px]">Learn More</span>
      <i class="bx bx-right-arrow-alt bx-sm"></i
    ></a>
  </div>
  <div class="w-2/3">
    <img
      class="w-full h-fit"
      src="../../../../assets/images/Brainstormwithoutshadow.jpg.png"
      alt=""
    />
  </div>
</div>
