<!-- single feature -->
<div class="lg:p-6" *ngIf="feature">
  <h3 class="text-2xl font-bold font-inter leading-7 text-secondaryText lg:mb-6 mb-3">
    {{ feature.title }}
  </h3>
  <p class="lg:text-lg lg:leading-6 text-base leading-5 font-normal text-secondaryText font-helvetica">
    <span class="opacity-60"> {{ feature.description }} Please visit</span>
    <a routerLink="feature.link" routerLinkActive="router-link-active" class="text-blue opacity-100 cursor-pointer">
      {{ feature.linkText }} .</a>
  </p>
</div>