<section class="lg:my-12">
  <div
    class="container bgImage bg-cover lg:bg-contain  lg:h-[680px] h-[300px] flex justify-end items-center text-center">
    <div class="lg:w-3/5 w-full">
      <h2 class="lg:text-3xl text-xl leading-[38px] font-inter font-bold text-secondaryText opacity-80 lg:opacity-100">
        The Ways We Work
      </h2>
      <p class="text-lg leading-6 font-normal font-helvetica text-secondaryText opacity-80 lg:opacity-100">
        How has our relationship with work changed?
      </p>
      <button
        class="blueBtn mt-6 text-[14px] hover:py-[9px] hover:border-[1px] leading-[20px] space-x-3 hover:bg-white hover:text-blue  hover:border-blue transition-all ease-linear duration-300">
        <span class="]">View the report</span>
        <i class="bx bx-arrow-back rotate-180"></i>
      </button>
    </div>
  </div>
</section>