<section class="mt-0">
  <div class="mainContent">
    <div>
      <div class="max-w-xl text-center mx-auto pt-10">
        <h2
          class="font-inter font-bold leading-[56px] text-[56px] text-secondaryText mb-6"
        >
          Loved by the world's best teams
        </h2>
        <a
          [routerLink]="['/home']"
          class="border border-blue px-[35px] py-[10px] rounded-full flex justify-center items-center gap-3 max-w-md mx-auto font-helvetica text-blue text-lg leading-6"
        >
          <span>See all customer stories</span>
          <i class="bx bx-arrow-back rotate-180"></i>
        </a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-10 mt-20 overflow-hidden">
      <app-team
        *ngFor="let review of customerReview"
        [review]="review"
      ></app-team>
    </div>
  </div>
</section>
