<section class="mt-32">
  <div class="mainContent">
    <div>
      <div class="max-w-xl text-center mx-auto pt-16">
        <h2
          class="font-inter font-bold leading-[56px] text-[56px] text-secondaryText mb-6"
        >
          Loved by the world's best teams
        </h2>
        <a
          [routerLink]="['/home']"
          class="border border-blue px-[35px] py-[10px] rounded-full flex justify-center items-center gap-3 max-w-md mx-auto font-helvetica text-blue text-lg leading-6"
        >
          <span>See all customer stories</span>
          <i class="bx bx-arrow-back rotate-180"></i>
        </a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-10 mt-10 overflow-hidden">
      <div class="p-9 h-[400px] flex flex-col justify-between items-start">
        <img src="../../../../assets/images/vmware.png" alt="" />
        <p
          class="text-lg leading-6 font-normal text-secondaryText font-helvetica opacity-60 text-justify"
        >
          “When the pandemic hit, those of us who thrive on in-person
          collaboration were worried that our creativity and productivity would
          suffer. Miro was the perfect tool to help us with collaboration,
          whiteboarding, and retrospectives while remote.”
        </p>
        <div class="flex justify-start items-center gap-5">
          <img
            src="../../../../assets/images/Jane-Docusign-Testimonials_2x.png.png"
            alt=""
          />
          <div
            class="font-helvetica text-[14px] leading-5 text-secondaryText opacity-60"
          >
            <h5>Roxanne Mustafa</h5>
            <p>Design Team Lead at VMware</p>
          </div>
        </div>
      </div>
      <div class="p-9 h-[400px] flex flex-col justify-between items-start">
        <img src="../../../../assets/images/docusign.png" alt="" />

        <p
          class="text-lg leading-6 font-normal text-secondaryText font-helvetica opacity-60 text-justify"
        >
          “Miro helps solve one of the major gaps in product design: how to
          manage tasks across product designers whose projects are in different
          tools.”
        </p>
        <div class="flex justify-start items-center gap-5">
          <img
            src="../../../../assets/images/Jane-Docusign-Testimonials_2x.png.png"
            alt=""
          />
          <div
            class="font-helvetica text-[14px] leading-5 text-secondaryText opacity-60"
          >
            <h5>Roxanne Mustafa</h5>
            <p>Design Team Lead at VMware</p>
          </div>
        </div>
      </div>
      <div class="p-9 h-[400px] flex flex-col justify-between items-start">
        <img src="../../../../assets/images/frog.png" alt="" />

        <p
          class="text-lg leading-6 font-normal text-secondaryText font-helvetica opacity-60 text-justify"
        >
          “As we used Miro we moved from skepticism to belief to innovation, and
          now we have a tool that’s at the core of what we do and will continue
          to extend into the future.”
        </p>
        <div class="flex justify-start items-center gap-5">
          <img
            src="../../../../assets/images/Jane-Docusign-Testimonials_2x.png.png"
            alt=""
          />
          <div
            class="font-helvetica text-[14px] leading-5 text-secondaryText opacity-60"
          >
            <h5>Roxanne Mustafa</h5>
            <p>Design Team Lead at VMware</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
