<section class="mt-20 bg-footerBg py-24">
  <div
    class="mainContent text-white font-inter flex justify-between items-start space-x-24"
  >
    <div class="w-1/2 flex justify-start items-start gap-12">
      <div class="">
        <div>
          <h2 class="font-inter font-extrabold text-[23px] leading-[30px]">
            Scan. Detect. Remove.
          </h2>
          <div class="flex justify-start items-center gap-8 my-12">
            <a href="">
              <img
                src="../../../../assets/images/Icon awesome-twitter-square.png"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="../../../../assets/images/Icon awesome-facebook-square.png"
                alt=""
              />
            </a>
            <a href="">
              <img src="../../../../assets/images/youtube.png" alt="" />
            </a>
          </div>
          <div class="font-inter text-[11px] leading-6 text-white">
            <div class="flex gap-8 mb-10">
              <a href="" class="hover:underline">Privacy Policy</a>
              <a href="" class="hover:underline">Terms & Services</a>
            </div>
            <p class="mb-4">
              Copyright © 2022 Certo Software Limited | Registered in England &
              Wales No. 10072356
            </p>
            <p>
              Designed & developed by
              <a href="" class="hover:underline">Hmmurad</a>
            </p>
          </div>
        </div>
        <div class="font-inter text-[11px] leading-6 mt-20">
          Apple, the Apple logo, and iPhone are trademarks of Apple Inc.,
          registered in the U.S. and other countries. App Store is a service
          mark of Apple Inc. Android, Google Play and the Google Play logo are
          trademarks of Google LLC.
        </div>
      </div>
      <div class="w-[460px]">
        <h2
          class="text-[35px] leading-[45px] font-extrabold border-b pb-5 mb-10"
        >
          Miro.
        </h2>
        <ul class="space-y-5 text-2xl text-yellow font-extrabold">
          <li>Iphone</li>
          <li>Android</li>
          <li>Help</li>
          <li>About</li>
          <li>Insights</li>
        </ul>
      </div>
    </div>
    <div class="w-1/2">
      <div
        class="bg-yellow w-[436px] rounded-3xl p-9 font-inter text-secondaryText"
      >
        <div class="z-10 relative">
          <h2 class="font-extrabold leading-[30px] text-[23px] mb-[21px]">
            Sign up to our newsletter
          </h2>
          <p class="text-[15px] leading-[20px] font-normal">
            Receive the latest mobile security news, exclusive discounts &
            offers straight to your inbox!
          </p>
          <div
            class="mt-9 border rounded-full border-white focus:ring-2 focus:ring-blue"
          >
            <input
              type="text"
              class="form-text rounded-l-full border-0 focus:ring-0"
              placeholder="Email Address"
            />
            <button class="rounded-r-full bg-black px-[32px] py-2 text-white">
              Submit
            </button>
          </div>
          <div class="absolute -top-8 left-20 w-full -z-10">
            <img src="../../../../assets/images/Path 10741.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
