<section class="mt-32">
  <div class="mainContent">
    <div class="mb-8">
      <h2
        class="text-5xl leading-[56px] font-bold font-inter text-secondaryText"
      >
        Built for the way you work
      </h2>
    </div>
    <div class="flex gap-3 overflow-x-auto scroll-smooth snap-x">
      <a
        *ngFor="let item of items"
        (click)="showPan(item.title)"
        class="cursor-pointer text-[14px] leading-[20px] text-secondaryText rounded-full bg-gray-200 px-4 py-3"
        >{{ item.title }}</a
      >
    </div>
    <div *ngFor="let item of items">
      <app-works-category-pane
        *ngIf="pane === item.title"
        [item]="item"
      ></app-works-category-pane>
    </div>
  </div>
</section>
