<!-- hero section -->
<app-hero></app-hero>

<!-- trusted section -->
<app-trusted></app-trusted>

<!-- features area -->
<app-features></app-features>

<!-- work together -->
<app-work-together *ngFor="let item of featureArea; let i = index" [item]="item" [index]="i"></app-work-together>

<!-- Promo Area -->
<app-promo-area></app-promo-area>

<!-- works category -->
<app-works-category *ngFor="let portfolio of portfolioArea" [portfolio]="portfolio"></app-works-category>

<!-- teams  -->
<!-- <app-teams></app-teams> -->