<section class="mt-32">
  <div class="mainContent">
    <!-- features area header -->
    <div>
      <div class="max-w-xl text-center mx-auto relative pt-16">
        <p
          class="mb-12 font-inter uppercase rounded-full bg-yellow px-4 py-2 font-bold text-xs rotate-12 absolute -right-16 top-4"
        >
          your idea starts here
        </p>
        <h2
          class="font-inter font-bold leading-[56px] text-[56px] text-secondaryText"
        >
          Collaborate without constraints
        </h2>
      </div>
    </div>
    <!-- feature loop here -->
    <div class="grid grid-cols-3 gap-10 mt-10 overflow-hidden">
      <app-feature
        *ngFor="let feature of features"
        [feature]="feature"
      ></app-feature>
    </div>
    <!-- sign up button  -->
    <div class="w-full mt-10">
      <button
        class="mt-3 blueBtn text-center flex justify-center items-center gap-2 mx-auto font-helvetica"
      >
        Sign up free <i class="bx bx-right-arrow-alt bx-sm"></i>
      </button>
    </div>
  </div>
</section>
