<section class="mt-20">
  <div
    class="mainContent flex flex-row-reverse justify-between items-center gap-[114px]"
  >
    <div class="max-w-lg">
      <h2
        class="font-inter font-bold leading-[56px] text-[56px] text-secondaryText"
      >
        Connect your tools, close your tabs
      </h2>
      <p
        class="mt-4 mb-10 font-helvetica font-normal leading-6 text-[18px] text-secondaryText opacity-70"
      >
        Whether you want to edit your Google Docs, resolve Jira issues, or
        collaborate over Zoom, Miro has 100+ integrations with tools you already
        use and love.
      </p>
      <a
        href=""
        class="text-lg leading-6 font-inter font-normal text-blue flex items-center"
      >
        <span class="border-b border-blue pb-[1px]">Learn More</span>
        <i class="bx bx-right-arrow-alt bx-sm"></i
      ></a>
    </div>
    <div class="size-full">
      <img
        src="../../../assets/images/M3_integrations_all_integrations.png.png"
        alt=""
      />
    </div>
  </div>
</section>
