<div class="p-9 h-[400px] flex flex-col justify-between items-start">
  <img src="../../../../assets/images/docusign.png" alt="" />

  <p
    class="text-lg leading-6 font-normal text-secondaryText font-helvetica opacity-60 text-justify"
  >
    “{{ review.comment }}”
  </p>
  <div class="flex justify-start items-center gap-5">
    <img src="../../../../assets/images/{{ review.avater }}" alt="" />
    <div
      class="font-helvetica text-[14px] leading-5 text-secondaryText opacity-60"
    >
      <h5>{{ review.name }}</h5>
      <p>{{ review.designation }}</p>
    </div>
  </div>
</div>
