<section class="lg:mt-28 mt-10">
  <div class="container text-center">
    <h2 @trustHeaderInTrigger class="text-[18px] leading-6 font-inter font-normal">
      Trusted by 45M+ users
    </h2>
    <div class="flex justify-around items-center md:gap-5 gap-2 mt-12">
      <a href="" *ngFor="let img of brand; let i = index" @trustBrandTrigger
        class="hover:scale-110 transition-all duration-500">
        <img src="../../../assets/images/{{ img.logo }}" alt="" />
      </a>
    </div>
  </div>
</section>